/* @import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@500;600&display=swap'); */

/* :root {
    
    

} */

* { 
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    --color-dropdown-bg: #a09898;
    --color-bg: #ffffff85;
    --color-font: #000000;
    --color-primary: #223122;
    --color-primary-dark: #007f67;
    --color-link: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-color: #000000;
    --border-radius: 2px;
    
    height: 100vh;
    max-width: 100%;
    display: grid;
    grid-template-rows: 1fr 10fr 2fr;
    font-size: 18px;
    /* background: url(../img/bg-1939.jpg) ; */
    background-size: cover;
    color: var(--color-font);
}
/* dark theme */
body.dark {
    
    --color-dropdown-bg: #000000cc;
    --color-bg: #000000cc;
    --color-font: #ffffff;
    --color-primary: #223122;
    --color-primary-dark: #007f67;
    --color-link: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-color: #ffffff;
    --border-radius: 2px;

}


.changeBG {
    background: url(../img/bg-1939.jpg); 
}


header {
    font-family: 'Stick No Bills', "sans-serif";
    font-weight: 500;
    font-size: 2rem;
    width: 100%;
    /* max-height: 80px; */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-content: center;
    background: url(../img/pngegg3.png) no-repeat;
    background-position-y: center;
    background-size: 100px 80px;
    background-color: var(--color-bg);
    margin: 0;
    
    
}

.logo {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin-left: 1rem;
    cursor: pointer;
        
}

.years_nav {
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
    list-style: none;    
}



.years_nav a {
    text-decoration: none;
    color: var(--color-font);
    margin-right: 1rem;
}

.years_nav a:hover {
    transform: translate(scale);
}

.user_nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-right: 1rem;
}
.user_nav a, .user_nav i {
    text-decoration: none;
    padding: 1rem;
}

 .dropdown i{
    height: 100%;
} 

.dropdown ul {
    font-size: 1.2rem;
    width: 200px;
    text-align: center;
    position: absolute;
    background-color: var(--color-dropdown-bg);
    padding: 0;
    list-style-type: none;
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.25);
    margin-top: 1px;
    border-radius: var(--border-radius);
    display: none;
}

.dropdown ul li {
    background: url(../img/pngegg2.png) repeat ;
    background-size: 100% 100%; 
    display: grid;
    cursor: pointer;
    padding: 0.5rem;
}

.dropdown ul li a {
    width: 100%;
    height: 100%;
    display: grid;
    padding: 0;
    margin: 0;
}

.dropdown ul li i {
    width: 100%;
    height: 100%;
    display: grid;
    padding: 0;
    margin: 0;
}

.dropdown ul li:hover {
    background-color: #494545;
    border-radius: var(--border-radius);
}
.dropdown i:focus + ul,
.dropdown ul:hover {
    display: block;
    z-index: 1;
}

.language ul {
    font-size: 1.2rem;
    width: 70px;
    text-align: center;
    position: absolute;
    background-color: var(--color-dropdown-bg);
    padding: 0;
    list-style-type: none;
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.25);
    margin-top: 1px;
    border-radius: var(--border-radius);
    display: none;
}

/* google icons */
.material-symbols-outlined {
    cursor: pointer;
    font-size: 2.2rem;
    font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
}
    
.icon-hover:hover {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48
}

/******* signup / login *******/
.container {
    width: 350px;
    max-width: 350px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background-color: var(--color-bg);
    /* background-color: #ffffff95; */
}
    
.popup {
    position: absolute;
    top:0;
    left:40%;
    transform: translate(0%, -50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    left:40%;
    top: 50%;
    transform: translate(0%, -50%) scale(1);
}

.container,
.form__input,
.form__button {
    font: 500 1rem 'Stick No Bills', sans-serif;
}

.form__close__button {
    display: flex;
    position: absolute;
    padding-top: 2rem;
    padding-right: 2rem;
    right: 0;
    top: 0;
    cursor: pointer;
}

.form--hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success); 
}

.form__message--error {
    color: var(--color-error);    
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--color-primary);
    background: #ffffff;    
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    background: rgba(0,0,0,20);
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgba(213 , 44, 21, 50);
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.5s;
}

.form__button:hover {
    box-shadow: inset 400px 0 0 0 rgba(213 , 44, 21, 20);
} 

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__link {
    color: var(--color-link);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}

                                                        /******* map *******/
.map__container {
    display: grid;
    position: relative;
    border-style: solid;
    border-width: 3px 0;
    border-color: var(--border-color);
}

#map{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}

footer {
    font-family: 'Stick No Bills', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--color-bg);
    position: relative;
}

footer ul {
    display:grid;
    align-content: center;    
    justify-content: center;
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    list-style: none;
    justify-items: center;
    color: var(--color-font);
}

.footer-col {
    /* border-style: solid;
    border-width: 1px 0 0 0; */
    /* border-color: var(--border-color); */
}

                                                                /******** MapLibre POPUP ***********/
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip, .maplibregl-popup-anchor-top .maplibregl-popup-tip {
    border-bottom-color: var(--color-dropdown-bg);
}


.mapboxgl-popup-content, .maplibregl-popup-content {
    background-color: var(--color-dropdown-bg) ;
    font-family: 'Stick No Bills', "sans-serif";
    font-size: 1rem;

}

.mapboxgl-popup-close-button,
 .maplibregl-popup-close-button {
    margin: 2px ;
    width: 2rem;
    height: 2rem;
    font-family: st;
    font-size: 2rem;
    color: var(--color-font);
    justify-self: center;
}

.mapboxgl-popup-close-button:hover,
.maplibregl-popup-close-button:hover {
    
     color: #b03625;
     background-color: transparent;
     border: none;
    
 }
 @media only screen and (max-width: 1200px) {
    .popup {
        
        left:35%;
        
    }
    
    .open-popup {
        
        left:35%;
        
    }
 }

@media only screen and (max-width: 1024px) {
    body {
        display:block;
    }

    header {
        position: absolute;
        z-index: 1;
        font-weight: 500;
        font-size: 2rem;
        width: 100%;
        display: flex;
        align-content:space-between;
        justify-content:space-between;
        width: 100%;
        border: var(--border-color) 3px solid;
        border-bottom: 0;
    }

    footer,
    nav {
        display: none;
    }

    .user_nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        margin: 1px;
    }

    .user_nav a, .user_nav i {
        text-decoration: none;
        padding: 10px;
    }
    
    /* google icons */
.material-symbols-outlined {
    cursor: pointer;
    font-size: 2rem;
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48
}
    
.icon-hover:hover {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

   

    .map__container {
        height: 100vh;
        width:100vw;
        border-style: solid;
        border-width: 3px;
        border-color: var(--border-color);
    }
    
    #map{
        width: 100%;
        height: 100%;
        opacity: 0.85;
    }

    .mapboxgl-ctrl-bottom-right,
    .maplibregl-ctrl-bottom-right,
    .mapboxgl-ctrl-top-right,
    .maplibregl-ctrl-top-right {
        display:none;
    }

    .logo {
    margin: 5px;
    }

    .popup {
        
        left:33%;
        
    }
    
    .open-popup {
        
        left:33%;
        
    }
    
}


@media only screen and (max-width: 900px) {
    
    header {
        font-size: 1.6rem;
    }

    .popup {
        z-index: 5;
        
        left:27%;
        
    }
    
    .open-popup {
        z-index: 5;
        
        left:27%;
        
    }
}

@media only screen and (max-width: 600px) {
    
    header {
        font-size: 1.6rem;
    }

    .popup {
        z-index: 5;
        
        left:20%;
        
    }
    
    .open-popup {
        z-index: 5;
        
        left:20%;
        
    }
}

@media only screen and (max-width: 480px) {

    header {
        font-size: 1.2rem;
    }

    .popup {
        z-index: 5;
        
        left:10%;
        
    }
    
    .open-popup {
        z-index: 5;
        
        left:10%;
        
    }
}

@media only screen and (max-width: 400px) {

    header {
        font-size: 1.2rem;
    }

    .popup {
        z-index: 5;
        left:0;
        
    }
    
    .open-popup {
        
        z-index: 5;
        left:0;
        
    }

    
}