@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@500;600&display=swap');
body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;


    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    
    font-size: 18px;
    background: url(../img/bg-1939.jpg) ;
    background-size: cover;
}
/* .container__all {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    width: 100%;
} */
header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff50;
    padding: 30px, 10%;
}

.map__container {
    display: flex;
    width: 97%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 700px;
    
    margin-top: 2rem;
    
    border-style: solid;
    border-width: 3px;
    border-color: #000;
    
}

#map{
    position: absolute;
    width: 97%;
    height: 700px;
    opacity: 0.9;
    
    
    
    
}

.logo, .years_nav li, .years_nav a, .user_nav a {
    font-family: 'Stick No Bills', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    display: inline-flex;
    padding: 0px 15px;
    list-style: none;
    text-decoration: none;
    color: #000
    
}

.user_nav {
    margin-right: 1rem;
}

.years_nav {
    margin-left: auto;
}

.logo {
        font-size: 3rem;
        cursor: pointer;
        margin-left: 1rem;
    }

/* sound icon */
.material-symbols-outlined {
    margin-top: ;
    cursor: pointer;
    font-size: 2.2rem;
    font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
}
    
.icon-hover:hover {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}